<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1 style="color: white;"><%= kindOfDay %> </h1>
    </div>
    
    <div class="box" >
        <% for(let i=0; i<newTask.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newTask[i] %></p>
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="New Item" autocomplete="off">
            <button type="submit" name="btnSubmit">+</button>
        </form>
    </div>
</body>
</html>